extends layout

block content
    h1= title
    p Show users here
    main
    table
        each user in users
            tr
                td #{user.email}
                td #{user.firstname}
                td #{user.middlename}
                td #{user.lastname}
                td #{user.role}
                td
                    form(id='reguser' action='/approveuser' method='post')
                        select(name="userrole")
                            option(value="verify") Verify
                            option(value="delete") Delete
                            option(value="admin") Admin
                        input(type="submit" value="Go") 