extends layout

block content
    h1= title
    p Show users here
    main
    table
        each user in users
            tr
                td #{user.email}
                td #{user.firstname}
                td #{user.middlename}
                td #{user.lastname}
                td #{user.role}
                td
                    form(id='reguser' action='/approveuser' method='post')
                        select
                            option(value="verify") verify
                            option(value="unverify") unverify
                            option(value="admin") verify admin
                        input(type="submit" value="Go") 