extends layout

block content
    h1= title
    p Show tasks here
    main
        div.login
                each task in tasks
                    div.login-container
                        div.login-header
                            tr
                                td #{task.title}
                                td #{task.description}
                                td #{task.expires}
                                td #{task.priority}
                                td #{task.status}