extends layout

block content
    h1= title
    p Show tasks here
    main
    table.projekt-container
        each task in tasks
                tr.projekt-task
                    td.task-title #{task.title}
                    td #{task.description}
                    td #{task.expires}
                    td #{task.priority}
                    td #{task.status}