extends layout

block content
    script(src="./public/javascripts/page")
        div
    h1= title
    p Show tasks here
    main
        div.flex-container
            div#columns
                table.column
                    each task in tasks
                        tr
                            td #{task.title}
                            td #{task.description}
                            td #{task.expires}
                            td #{task.priority}
                            td #{task.status}
                            td
                                a(href="/todo/" + task._id) do
                            td
                                a(href="/doing/" + task._id) doing
                            td
                                a(href="/done/" + task._id) done
                            td.delete
                                a(href="/deleteTask/" + task._id) delete
                table.column
                    each task in dtasks
                        tr
                            td #{task.title}
                            td #{task.description}
                            td #{task.expires}
                            td #{task.priority}
                            td #{task.status}
                            td
                                a(href="/todo/" + task._id) do
                            td
                                a(href="/doing/" + task._id) doing
                            td
                                a(href="/done/" + task._id) done
                            td.delete
                                a(href="/deleteTask/" + task._id) delete
